<div class="max-w-xs mx-auto overflow-hidden bg-white rounded-3xl">
  <div class="p-6">
    <ul class="relative ml-2 font-bold border-gray-200">
      <li class="mb-5 ml-6 text-neutral-400">
        <span
          class="absolute flex items-center justify-center w-2 h-2 mt-2 bg-white rounded-full -left-1 ring-4 ring-neutral-400 text-neutral-400 after:content-[''] after:w-[.3rem] after:h-[.3rem] after:absolute after:top-[1.15rem] after:bg-blue-700 after:rounded-full"
        >
        </span
        ><span>News</span>
      </li>
      <li class="mb-5 ml-6 text-neutral-400">
        <span
          class="absolute flex items-center justify-center w-2 h-2 mt-2 bg-white rounded-full -left-1 ring-4 ring-neutral-400 text-neutral-400 before:content-[''] before:w-[.3rem] before:h-[.3rem] before:absolute before:bottom-[1.15rem] before:bg-blue-700 before:rounded-full after:content-[''] after:w-[.3rem] after:h-[.3rem] after:absolute after:top-[1.15rem] after:bg-blue-700 after:rounded-full"
        >
        </span
        ><span>Development</span>
      </li>
      <li class="mt-2 mb-5 ml-6">
        <span
          class="absolute flex items-center justify-center w-2 h-2 mt-2 bg-white rounded-full -left-1 ring-4 ring-black before:content-[''] before:w-[.3rem] before:h-[.3rem] before:absolute before:bottom-[1.15rem] before:bg-blue-700 before:rounded-full"
        >
        </span
        ><span>Connecting</span>
      </li>
    </ul>
  </div>
  <div class="p-6 text-xl font-extrabold bg-neutral-800 text-neutral-100">
    Grow
    <a
      href="#"
      class="block mx-6 mt-6 text-xl font-medium leading-loose text-center text-white border rounded-full border-neutral-40"
      >Read more</a
    >
  </div>
</div>
