<div class="bg-white rounded-3xl overflow-hidden">
  <div class="p-6">
    <ul class="relative border-l border-gray-200 ml-2 font-bold">
      <li class="mb-5 ml-6 text-neutral-400">
        <span
          class="flex absolute -left-1 justify-center items-center w-2 h-2 bg-white rounded-full mt-2 ring-4 ring-neutral-400 text-neutral-400"
        >
        </span
        ><span>News</span>
      </li>
      <li class="mb-5 ml-6 text-neutral-400">
        <span
          class="flex absolute -left-1 justify-center items-center w-2 h-2 bg-white rounded-full mt-2 ring-4 ring-neutral-400 text-neutral-400"
        >
        </span
        ><span>Development</span>
      </li>
      <li class="mb-5 mt-2 ml-6">
        <span
          class="flex absolute -left-1 justify-center items-center w-2 h-2 bg-white rounded-full mt-2 ring-4 ring-black"
        >
        </span
        ><span>Connecting platform</span>
      </li>
    </ul>
  </div>
  <div class="bg-neutral-800 text-neutral-400 p-6 pt-3">
    Grow your brand with the #1 Customer Data Platform
    <a
      href="#"
      class="block border border-neutral-40 text-xl leading-loose text-center mt-6 rounded-full mx-6"
      >Button</a
    >
  </div>
</div>
