<import from="./container.ts"></import>
<import from="./case-studies-item.html"></import>

<container class="px-16 bg-white py-28">
  <img src="/marteco-image.png" class="h-3 mb-6" />
  <h3 class="mb-12 text-3xl font-extrabold uppercase">Case<br />studies</h3>
  <div class="grid grid-cols-1 px-12 text-white gap-y-1 sm:gap-y-16 gap-x-28 lg:grid-cols-2">
    <case-studies-item>
      <div au-slot="count">1.</div>
      <div au-slot="title">Information Shop</div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut odio dolor raesent dignissim.
    </case-studies-item>
    <case-studies-item>
      <div au-slot="count">2.</div>
      <div au-slot="title">Community Centre</div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut odio dolor raesent dignissim.
    </case-studies-item>
    <case-studies-item>
      <div au-slot="count">3.</div>
      <div au-slot="title">Online Education</div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut odio dolor raesent dignissim.
    </case-studies-item>
    <case-studies-item>
      <div au-slot="count">4.</div>
      <div au-slot="title">Health Records</div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut odio dolor raesent dignissim.
    </case-studies-item>
  </div>
</container>
