<import from="./container.ts"></import>
<import from="./case-studies-item.html"></import>

<container class="bg-white px-16 pt-20">
  <img src="/marteco-image.png" class="h-3 mb-6" />
  <h3 class="uppercase text-3xl font-extrabold mb-12">Case<br />studies</h3>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 px-12 text-white">
    <case-studies-item>
      <div au-slot="count">1.</div>
      <div au-slot="title">Information Shop</div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nisi amet
      voluptatem obcaecati eligendi iusto corporis aspernatur sequi tenetur quae
      nam hic, corrupti neque ab molestiae. Amet cupiditate ullam corporis.
    </case-studies-item>
    <case-studies-item>
      <div au-slot="count">2.</div>
      <div au-slot="title">Community Centre</div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nisi amet
      voluptatem obcaecati eligendi iusto corporis aspernatur sequi tenetur quae
      nam hic, corrupti neque ab molestiae. Amet cupiditate ullam corporis.
    </case-studies-item>
    <case-studies-item>
      <div au-slot="count">3.</div>
      <div au-slot="title">Online Education</div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nisi amet
      voluptatem obcaecati eligendi iusto corporis aspernatur sequi tenetur quae
      nam hic, corrupti neque ab molestiae. Amet cupiditate ullam corporis.
    </case-studies-item>
    <case-studies-item>
      <div au-slot="count">4.</div>
      <div au-slot="title">Health Records</div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nisi amet
      voluptatem obcaecati eligendi iusto corporis aspernatur sequi tenetur quae
      nam hic, corrupti neque ab molestiae. Amet cupiditate ullam corporis.
    </case-studies-item>
  </div>
</container>
