<div class="bg-neutral-200 px-16 py-20">
  <div class="container mx-auto">
    <img src="/marteco-image.png" class="h-3 mb-6" />
    <h3 class="uppercase text-3xl font-extrabold mb-12">Clients</h3>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-16 px-12">
      <li>
        <img
          class="object-contain w-36 h-36 rounded-full bg-neutral-300 p-4 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain w-36 h-36 rounded-full bg-neutral-300 p-4 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain w-36 h-36 rounded-full bg-neutral-300 p-4 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain w-36 h-36 rounded-full bg-neutral-300 p-4 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain w-36 h-36 rounded-full bg-neutral-300 p-4 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain w-36 h-36 rounded-full bg-neutral-300 p-4 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain w-36 h-36 rounded-full bg-neutral-300 p-4 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain w-36 h-36 rounded-full bg-neutral-300 p-4 invert"
          src="/marteco-image.png"
        />
      </li>
    </ul>
  </div>
</div>
