<div class="px-16 py-20 bg-neutral-200">
  <div class="container mx-auto">
    <img src="/marteco-image.png" class="h-3 mb-6" />
    <h3 class="mb-12 text-3xl font-extrabold uppercase">Clients</h3>
    <ul class="grid grid-cols-1 gap-16 px-12 place-items-center md:grid-cols-2 lg:grid-cols-4">
      <li>
        <img
          class="object-contain p-4 rounded-full w-36 h-36 bg-neutral-300 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain p-4 rounded-full w-36 h-36 bg-neutral-300 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain p-4 rounded-full w-36 h-36 bg-neutral-300 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain p-4 rounded-full w-36 h-36 bg-neutral-300 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain p-4 rounded-full w-36 h-36 bg-neutral-300 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain p-4 rounded-full w-36 h-36 bg-neutral-300 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain p-4 rounded-full place-self-center w-36 h-36 bg-neutral-300 invert"
          src="/marteco-image.png"
        />
      </li>
      <li>
        <img
          class="object-contain p-4 rounded-full place-self-center w-36 h-36 bg-neutral-300 invert"
          src="/marteco-image.png"
        />
      </li>
    </ul>
  </div>
</div>
