<footer class="grid grid-cols-12">
  <div
    class="flex flex-col items-center justify-between flex-none order-last p-12 sm:order-first col-span-full sm:col-span-4 lg:col-span-3 atext-center bg-neutral-200"
  >
    <div class="pb-24">
      <img src="/marteco.png" class="h-16" />
    </div>
    <div class="py-6 w-full text-center text-xs border-t border-[#868686]">
      &copy; 2022 Marteco.nl
    </div>
  </div>
  <div
    class="grid grid-cols-4 px-10 py-12 sm:px-20 col-span-full sm:col-span-8 lg:col-span-9 bg-neutral-800 text-neutral-400"
  >
    <div class="flex-col justify-between flex-1 col-span-2 text-center lg:text-left lg:col-span-1">
      <div class="pb-24">
        <h3 class="pb-4 font-semibold text-neutral-300">About</h3>
        <ul>
          <li><a href="#">test</a></li>
          <li><a href="#">ok</a></li>
          <li><a href="#">123</a></li>
        </ul>
      </div>
    </div>
    <div class="flex-col justify-between flex-1 col-span-2 text-center lg:text-left lg:col-span-1">
      <div class="pb-24">
        <h3 class="pb-4 font-semibold text-neutral-300">Discover</h3>
        <ul>
          <li><a href="#">test</a></li>
          <li><a href="#">ok</a></li>
          <li><a href="#">123</a></li>
        </ul>
      </div>
    </div>
    <div class="flex-col justify-between flex-1 col-span-2 text-center lg:text-left lg:col-span-1">
      <div class="pb-24">
        <h3 class="pb-4 font-semibold text-neutral-300">Partners</h3>
        <ul>
          <li><a href="#">test</a></li>
          <li><a href="#">ok</a></li>
          <li><a href="#">123</a></li>
        </ul>
      </div>
    </div>
    <div class="flex-col justify-between flex-1 col-span-2 text-center lg:text-left lg:col-span-1">
      <div class="pb-24">
        <h3 class="pb-4 font-semibold text-neutral-300">Follow us</h3>
        <ul>
          <li><a href="#">test</a></li>
          <li><a href="#">ok</a></li>
          <li><a href="#">123</a></li>
        </ul>
      </div>
    </div>
    <div class="flex justify-around col-span-4 border-t lg:grid lg:grid-cols-4 border-neutral-500">
      <div class="py-6 text-xs">
        <a href="#" class="transition ease-in-out hover:text-neutral-100"
          >Privacy Policy</a
        >
      </div>
      <div class="py-6 text-xs">
        <a href="#" class="transition ease-in-out hover:text-neutral-100"
          >Terms of Use</a
        >
      </div>
      <div class="py-6 text-xs">
        <a href="#" class="transition ease-in-out hover:text-neutral-100"
          >Press</a
        >
      </div>
      <div class="py-6 text-xs">
        <a href="#" class="transition ease-in-out hover:text-neutral-100"
          >Help</a
        >
      </div>
    </div>
  </div>
</footer>
