<div class="bg-white">
  <div class="container mx-auto flex space-x-4 p-5">
    <img src="/marteco-image.png" alt="" class="h-8" />
    <ul class="flex space-x-4 items-center">
      <li>
        <a
          load="/"
          class="h-16 font-bold hover:bg-neutral-100 p-3 rounded-md transition ease-in-out"
          >Welcome</a
        >
      </li>
      <li>
        <a
          load="/about-us"
          class="h-16 font-bold hover:bg-neutral-100 p-3 rounded-md transition ease-in-out"
          >About us</a
        >
      </li>
    </ul>
  </div>
</div>
